<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SisReservasListadosBinding" maxBufferSize="524288"
            maxReceivedMessageSize="524288">
          <readerQuotas maxStringContentLength="524288" maxArrayLength="524288" />
        </binding>
        <binding name="SisReservasConsultasBinding" maxBufferSize="524288"
            maxReceivedMessageSize="524288">
          <readerQuotas maxStringContentLength="524288" maxArrayLength="524288" />
        </binding>
        <binding name="SisReservasGestionBinding" maxBufferSize="524288"
            maxReceivedMessageSize="524288">
          <readerQuotas maxStringContentLength="524288" maxArrayLength="524288" />
        </binding>
        <binding name="SisReservasReportesBinding" maxBufferSize="524288"
            maxReceivedMessageSize="524288">
          <readerQuotas maxStringContentLength="524288" maxArrayLength="524288" />
        </binding>
        <binding name="IntegracionHydroEndPoint">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="SVCBehaviorSisReservas" name="ServicioWeb.SisReservas.ServicioListados">
        <endpoint binding="basicHttpBinding" bindingConfiguration="SisReservasListadosBinding"
            name="SisReservasListadosEndPoint" bindingName="" 
            contract="ServicioWeb.SisReservas.IServicioListados" />
      </service>
      <service behaviorConfiguration="SVCBehaviorSisReservas" name="ServicioWeb.SisReservas.ServicioConsultas">
        <endpoint binding="basicHttpBinding" bindingConfiguration="SisReservasConsultasBinding"
            name="SisReservasConsultasEndPoint" bindingName="" bindingNamespace="https://servicios.anh.gob.bo/WSSisReservas/ServicioConsultas.svc"
            contract="ServicioWeb.SisReservas.IServicioConsultas" />
      </service>
      <service behaviorConfiguration="SVCBehaviorSisReservas" name="ServicioWeb.SisReservas.ServicioGestion">
        <endpoint binding="basicHttpBinding" bindingConfiguration="SisReservasGestionBinding"
            name="SisReservasGestionEndPoint" bindingName="" bindingNamespace="https://servicios.anh.gob.bo/WSSisReservas/ServicioGestion.svc"
            contract="ServicioWeb.SisReservas.IServicioGestion" />
      </service>
      <service behaviorConfiguration="SVCBehaviorSisReservas" name="ServicioWeb.SisReservas.ServicioReportes">
        <endpoint binding="basicHttpBinding" bindingConfiguration="SisReservasReportesBinding"
            name="SisReservasReportesEndPoint" bindingName="" 
            contract="ServicioWeb.SisReservas.IServicioReportes" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SVCBehaviorSisReservas">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" 
                               minFreeMemoryPercentageToActivateService="0"/>
    
  </system.serviceModel>
  <connectionStrings>
    <add name="EntidadesSisReservas"
         connectionString="metadata=res://*/ModeloSisReservas.csdl|res://*/ModeloSisReservas.ssdl|res://*/ModeloSisReservas.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=Localhost;PASSWORD=TallerBD;PERSIST SECURITY INFO=true;USER ID=APP_GESTION_UAB&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <oracle.dataaccess.client>
    <settings>
      <add name="APP_GESTION_UAB.PGET_LISTADOS.P_LISTAR_GENERO.RefCursor.O_LISTAR_GENERO" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_GESTION_UAB.PGET_LISTADOS.P_LISTAR_PERSONA.RefCursor.O_LISTAR_PERSONA" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_GESTION_UAB.PGET_LISTADOS.P_LISTAR_DOCUMENTO.RefCursor.O_LISTAR_DOCUMENTO" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_GESTION_UAB.PGET_GESTION.P_REGISTRAR_GENERO.RefCursor.O_RESULTADO" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_GESTION_UAB.PGET_GESTION.P_REGISTRAR_PERSONA.RefCursor.O_RESULTADO" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_GESTION_UAB.PGET_GESTION.P_REGISTRA_DOCUMENTO.RefCursor.O_RESULTADO" value="implicitRefCursor bindinfo='mode=Output'" />
    </settings>
  </oracle.dataaccess.client>
</configuration>
