<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EntidadesSisReservas" 
         connectionString="metadata=res://*/ModeloSisReservas.csdl|res://*/ModeloSisReservas.ssdl|res://*/ModeloSisReservas.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=Localhost;PASSWORD=TallerBD;PERSIST SECURITY INFO=true;USER ID=APP_GESTION_UAB&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <oracle.dataaccess.client>
    <settings>
      
      <add name="APP_GESTION_UAB.PGET_LISTADOS.P_LISTAR_GENERO.RefCursor.O_LISTAR_GENERO" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_GESTION_UAB.PGET_LISTADOS.P_LISTAR_PERSONA.RefCursor.O_LISTAR_PERSONA" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_GESTION_UAB.PGET_LISTADOS.P_LISTAR_DOCUMENTO.RefCursor.O_LISTAR_DOCUMENTO" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_GESTION_UAB.PGET_GESTION.P_REGISTRAR_GENERO.RefCursor.O_RESULTADO" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_GESTION_UAB.PGET_GESTION.P_REGISTRAR_PERSONA.RefCursor.O_RESULTADO" value="implicitRefCursor bindinfo='mode=Output'" />
      <add name="APP_GESTION_UAB.PGET_GESTION.P_REGISTRA_DOCUMENTO.RefCursor.O_RESULTADO" value="implicitRefCursor bindinfo='mode=Output'" />
    </settings>
  </oracle.dataaccess.client>
</configuration>